$light-pink: #F5DCDC;
$white: #FFF;
$light-grey: #f6f6f6;
$dark-grey: #534444;
$grey: #7C7373;
$burgundy: #871729;
$pink: #C6516F;
$gradient: linear-gradient(
    95deg,
    $burgundy 0,
    rgba($pink, .75) 100%
);

$primary-color: $pink;
$danger-color: $burgundy;
$dark: $dark-grey;
$light: $light-grey;