/* Encode Sans and Montserrat alternates import */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$font-primary: Montserrat alternates;
$font-secondary: Encode Sans;

$font-size: 16px;
$font-color: $dark;