#contact-form {
    @include size-pos(1, 8, 1, 9);
    background: $white;

    .container {
        margin-right: cols(2);
        h1 {
            margin-bottom: ratio-space(8px);
        }

        form {
            @extend %flex;
            flex-direction: column;

            .submit {
                align-self: flex-end;
            }

            .alert {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: $dark;
                color: $white;
                text-align: center;
                padding: ratio-space(8px) 0;
                border-radius: 15px;
                transform: translateY(50%);
            }
        }
    }
}
