#contact-form {
    @include size-pos(1, 8, 1, 9);
    background: $white;

    .container {
        margin-right: cols(2);
        h1 {
            margin-bottom: ratio-space(8px);
        }

        form {
            @extend %flex;
            flex-direction: column;

            .btn {
                align-self: flex-end;
            }

            .alert {
                position: absolute;
                transition: .5s;
                top: 0;
                left: 0;
                width: 100%;
                background: $dark;
                color: $light;
                text-align: center;
                padding: ratio-space(8px) 0;
                border-radius: 15px;
                transform: translateY(50%);
            }
        }
    }

    @media #{$media-down-md} {
        top: 0;
        left: 0;
        width: calc(100% - cols(2));
        margin: rows(1) cols(1);
        margin-bottom: 0;
        min-height: 0;

        .container {
            margin: 0;
        }
    }
}
