section {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;

    .container {
        padding: ratio-space(8px);
    }

    @media #{$media-down-lg} {
        .container {
            padding: ratio-space(6px);
        }
    }

    @media #{$media-down-md} {
        position: relative;

        .container {
            padding: ratio-space(8px);
        }
    }

    @media #{$media-down-sm} {
        .container {
            padding: ratio-space(4px);
        }
    }
}